body {
  background-color: #000c36;
  color: white;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.container {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
  width: 399px;
  height: 852px;
}
.logo {
  width: 150px;
}
.app-name {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
}

label {
  font-size: 16px;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 30px;
  border: 1px solid #3b4877;
  border-radius: 10px;
}

.movie-input {
  background-color: #3b4877 !important;
  color: white;
}

.movie-input:focus {
  background-color: #3b4877 !important;
}

.movie-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #3b4877 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

button {
  padding: 12px;
  background-color: #51e08a;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 22px;
}

button:disabled {
  opacity: 0.6;
}

.reset {
  margin-top: 10px;
  width: 100%;
}

.why {
  font-weight: 500;
  font-size: 18px;
}

.ai-explanation {
  margin-top: 20px;
  background: #3b4877;
  color: white;
  padding: 15px;
  border-radius: 8px;
}

@media (max-width: 780px) {
  .container {
    width: 340px;
    height: auto; /* allows it to expand naturally */
    margin: 20px auto;
    padding: 15px;
  }

  .logo {
    width: 100px;
  }

  .app-name {
    font-size: 26px;
  }

  label {
    font-size: 15px;
  }

  input {
    padding: 20px;
    font-size: 15px;
  }

  button {
    font-size: 18px;
    padding: 10px;
  }

  .ai-explanation {
    font-size: 15px;
    padding: 10px;
  }
}
